@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  background-color: rgb(16, 17, 61);
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  display: grid;
  place-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 300px;
}

.face-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.face-card span {
  width: 100%;
  text-align: center;
}

.face-card img {
  max-height: 90%;
}

.stats-card {}