@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 17, 61);
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  display: grid;
  place-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.card {
  position: relative;
  flex: 1 1 300px;
  height: 300px;
  min-width: 300px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  transition: 300ms linear;
}

.face-card,
.stats-card {
  position: absolute;
  display: flex;
  justify-content: center;
  inset: 0;
  transition: 150ms linear;
}

.face-card {
  flex-wrap: wrap;
  font-weight: bold;
  transition-delay: 150ms;
}

.face-card span {
  width: 100%;
  text-align: center;
}

.face-card img {
  max-height: 90%;
}

.stats-card {
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 20px;
  transform: rotateY(-90deg);
}

.stats-card p span:nth-child(1) {
  font-weight: bold;
}

.show {
  transform: rotateY(-180deg);
  transition-delay: 150ms;
}

.hide {
  transform: rotateY(90deg);
  transition-delay: 0ms;
}

.turn {
  transform: rotateY(180deg);
}