@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 17, 61);
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  display: grid;
  place-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.card {
  flex: 1 1 300px;
  height: 300px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
}

.face-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.face-card span {
  width: 100%;
  text-align: center;
}

.face-card img {
  max-height: 90%;
}

.stats-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 20px;
}

.stats-card p span:nth-child(1) {
  font-weight: bold;
}

@keyframes show {
  from {
    transform: rotateY(0deg)
  }

  to {
    transform: rotateY(180deg)
  }
}

.show {
  animation: show 500ms forwards;
}